Flask==2.2.2
torch==1.13.1
transformers==4.26.1
pytorch-lightning==1.8.6
sacrebleu==2.3.1
rouge-score==0.1.2
bert-score==0.3.12
openai==0.27.0
pandas==1.5.2
matplotlib==3.6.2
seaborn==0.12.1
IPython==8.7.0
bertviz==1.4.0
scikit-learn==1.1.3
